body {
    background-color: rgb(179, 240, 255);
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1 {
    margin: 0 auto;
}

p {
    color: rgb(179, 240, 255);
}

header {
    height: 150px;
    background-color: rgb(248, 248, 248);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    max-width: 90%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
}

.logo-link {
    text-decoration: none;
}

.logo-img {
    width: 120px;
    height: 120px;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.logo-name {
    color: #ff0000;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.name-family-logo-span {
    font-size: 14px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 82, 102);
    padding: 10px;
}

.navigation a:hover {
    background-color: rgb(0, 82, 102);
    color: rgb(179, 240, 255);
    border-radius: 5px;
}

.footer-container {
    background-color: rgb(0, 82, 102);
    color: #fff;
    padding: 20px 0;
}

.number-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tell {
    font-size: 18px;
}

.text {
    margin: 0;
    color: #ff0000;
    font-size: 13px;
}

.family-icon {
    height: 15px;
    width: 15px;
    color: #ff0000;
}

.burger-menu {
    display: none;
    position: relative;
    cursor: pointer;
}

.burger-icon {
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 35px;
    max-width: 90%;
    width: 100%;
}

.single-category-container {
    color: rgb(0, 82, 102);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-item-container {
    padding: 5px 0;
    display: flex;
    width: 48%;
}

.category-img-container {
    width: 250px;
}

.img-container {
    background: url("../Images/A/A-1.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px rgb(0, 82, 102) solid;
    width: 250px;
    height: 150px;
    aspect-ratio: 16/9;
    position: relative;
}

.not-img-container {
    display: none;
}

.item-id-container {
    color: rgb(0, 82, 102);
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    text-align: center;
    width: 30%;
    padding: 3px 0;
}

.price-container {
    padding-top: 5px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    letter-spacing: -1px;
}

.price-main-container {
    color: rgb(0, 82, 102);
    font-size: 1.25em;
    text-align: center;
}

.price-hint-container {
    color: rgb(0, 82, 102);
    font-size: 0.8em;
    text-align: center;
    padding: 0 2px;
}

.category-content-container {
    width: 55%;
    padding: 0 8px 0;
    margin: 1px;
}

.category-title-container {
    color: rgb(0, 82, 102);
    font-size: 2em;
    font-weight: 600;
    padding: 3px 0 10px 0;
    margin: 0;
}

.category-description-container {
    font-size: 1.1em;
    line-height: 110%;
    font-style: italic;
    font-weight: 500;
    color: rgb(0, 82, 102);
    margin: 5px 0;
}

.single-category-container:first-child {
    margin-bottom: 20px;
}

.single-category-container:last-child {
    margin-top: 20px;
}

.single-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container {
    background-color: rgb(0, 82, 102);
    padding: 20px;
    margin: 0 auto;
}

.wrapper-footer {
    max-width: 90%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.footer-column {
    color: rgb(179, 240, 255);
    width: 33%;
    float: left;
}

.footer-column:last-child {
    font-style: italic;
}

.footer-column h3 {
    margin-top: 0;
}

.wrapper-center {
    clear: both;
    text-align: center;
}

.centered-text {
    text-align: center;
    color: rgb(0, 82, 102);
    margin: 15px 0 0 0;
}

white {
    font-size: 12px;
    color: white;
}

.number-container-hidden {
    display: none;
    height: 60px;
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    border: 2px solid rgb(0, 82, 102);
    border-radius: 5px;
}

.tell-hidden {
    text-decoration: none;
    color: rgb(0, 82, 102);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-hidden {
    display: none;
    color: rgb(0, 82, 102);
    margin: 15px 0 0 0;
    font-size: 12px;
}

/* Extra large devices  */
@media (min-width: 1200px) {
    .single-category-container {
        max-width: 100%;
    }
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    header {
        height: 100px;
    }

    .wrapper {
        max-width: 90%;
    }

    .logo-img {
        width: 70px;
        height: 70px;
    }

    .container {
        max-width: 90%;
    }

    .wrapper-footer {
        max-width: 90%;
    }

    .img-container {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

/* Medium devices  */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        height: 80px;
    }

    .container {
        width: 80%;
    }

    .single-category-container {
        flex-direction: column;
    }

    .category-item-container {
        width: 100%;
    }

    .category-item-container:not(:last-child) {
        margin-bottom: 15px;
    }

    .wrapper {
        max-width: 80%;
    }

    .wrapper-footer {
        max-width: 80%;
        font-size: 14px;
    }

    .logo-img {
        display: none;
    }

    .navigation li {
        margin: 0;
        font-size: 14px;
    }

    .wrapper-center {
        font-size: 12px;
    }
}

/* Small devices  */
@media (min-width: 576px) and (max-width: 767px) {
    header {
        height: 80px;
    }

    .logo-name {
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .name-family-logo-span {
        font-size: 10px;
    }

    .container {
        max-width: 80%;
    }

    .single-category-container {
        flex-direction: column;
        align-items: center;
    }

    .category-item-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(0, 82, 102);
        margin-top: 30px;
    }

    .category-content-container {
        width: 100%;
    }

    .category-description-container {
        text-align: center;
    }

    .category-title-container {
        text-align: center;
        margin-top: 10px;
    }

    .price-container {
        justify-content: center;
    }

    .wrapper {
        max-width: 80%;
    }

    .logo-img {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .navigation {
        display: none;
    }

    .wrapper-footer {
        max-width: 80%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 35px;
    }

    .footer-column:not(:last-child) {
        border-bottom: 1px solid rgba(179, 240, 255, 0.5);
    }

    .wrapper-center {
        font-size: 12px;
    }

    .number-container-hidden {
        display: block;
    }

    .text-hidden {
        display: block;
        margin-bottom: 20px;
    }
}

/* Extra small devices */
@media (max-width: 575px) {
    header {
        height: 80px;
    }

    .logo-name {
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .name-family-logo-span {
        font-size: 10px;
    }

    .container {
        max-width: 80%;
    }

    .single-category-container {
        flex-direction: column;
        align-items: center;
    }

    .category-item-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(0, 82, 102);
        margin-top: 30px;
    }

    .category-content-container {
        width: 100%;
    }

    .category-description-container {
        text-align: center;
    }

    .category-title-container {
        text-align: center;
        margin-top: 10px;
    }

    .price-container {
        justify-content: center;
    }

    .wrapper {
        max-width: 80%;
    }

    .logo-img {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .navigation {
        display: none;
    }

    .wrapper-footer {
        max-width: 80%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 35px;
    }

    .footer-column:not(:last-child) {
        border-bottom: 1px solid rgba(179, 240, 255, 0.5);
    }

    .wrapper-center {
        font-size: 12px;
    }

    .number-container-hidden {
        display: block;
    }

    .text-hidden {
        display: block;
        margin-bottom: 20px;
    }
}