body {
    font-family: Arial, sans-serif;
}

p {
    font-size: 20px;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

.caption1,
.caption2,
.caption3 {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 0px 5px;
    justify-self: end;
    align-self: start;
}

.caption1 {
    background-color: yellowgreen;
}

.caption2 {
    background-color: red;
}

.caption3 {
    background-color: skyblue;
}

.container-1,
.container-2,
.container-3 {
    background-color: rgb(202, 198, 198);
    border: 2px solid black;
}

.text {
    padding: 0px 10px;
    height: 100%;
}

@media (min-width: 993px) {
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        width: 100%;
        grid-gap: 5px;
    }

    .container-1,
    .container-2,
    .container-3 {
        display: grid;
        width: 90%;
        height: 230px;
        justify-items: center;
        align-items: center;
        margin-left: 10px;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        width: 100%;
        grid-gap: 5px;
    }

    .container-1,
    .container-2 {
        display: grid;
        width: 80%;
        height: 230px;
        justify-items: center;
        align-items: center;
        margin-left: 10px;
    }

    .container-3 {
        display: grid;
        margin-top: 33px;
        width: 180%;
        height: 200px;
        align-items: end;
        justify-items: center;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        width: 100%;
        grid-gap: 5px;
    }

    .container-1,
    .container-2 {
        display: grid;
        width: 90%;
        height: 220px;
        justify-items: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .container-3 {
        display: grid;
        width: 90%;
        height: 220px;
        justify-items: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 280px;
        margin-top: 10px;
    }
}
